{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}My Site{% endblock %}</title>

    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    {% block links %}{% endblock %}
</head>
<body>
    <nav class="navbar">
       <div class="container">
           <ul class="menu">
               <li><a href="{% url 'index' %}">Title</a></li>
           {% if perms.webapp.change_project or project.user == request.user %}

                <li><a href="{% url 'create' %}">Create Project</a></li>
                {% block menu %}{% endblock %}
            {% endif %}

           {% block auth_menu %}
                {% if request.user.is_authenticated %}
                <li class="menu-right"><a href="{% url 'logout' %}" class="nav-link">Выход</a></li>
                <li class="menu-right">Привет, <a href="{% url 'detail' user.pk %}">{{ user.username }}</a>!</li>
           {% else %}
               <li class="menu-right"><a href="{% url 'login' %}?next={{ request.get_full_path }}" class="nav-link">Вход</a></li>
               <li class="menu-right"><a href="{% url 'register' %}?next={{ request.get_full_path }}" class="nav-link">Регистрация</a></li>
           {% endif %}
               <li>{% include 'partial/simple_search.html' %}</li>
           {% endblock %}
           </ul>
       </div>
    </nav>
    <div class="container">

        {% block content %}{% endblock %}
    </div>







</body>
</html>