{% extends 'base.html' %}

{% block title %}Project List{% endblock %}

{% block content %}
    <h1 style="text-transform: full-width; color: #5E5694; text-align: center">Project List</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    {% for project in projects %}
        <div style="border: outset 5px #B0E0E6;margin-top: 10px; border-radius: 40px 10px">
        <h1 style="text-transform: capitalize ;"> <span style="color: #20B2AA">{{ project.name }}   </span></h1>
        <p><span style="color: #008080; font-size: 20px">{{ project.text }}</span></p>
        <table width="50%" border="0" cellpadding="5" cellspacing="0">
         <col width="33%" valign="top">
            <tr>
             <td><a style="text-decoration: none;text-transform: uppercase;color:
        #6a7dff" href="{% url "task_view" project.pk %}">more </a></td>

                <td><a style="text-decoration: none;text-transform: uppercase;color:
        #6a7dff" href="{% url "del" project.pk %}">Delete</a></td>
            </tr>
        </table>

    </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

{% endblock %}
